$main-bg: #fff;
$second-bg: #f8f8f8;
$main-color: #ff4c3b;
$txt-main-color: #222222;
$txt-second-color: #777777;
$txt-white: #fff;
$txt-black: #000;
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$colors: (
    "blue": #4267b2,
    "orange": #fbb96b,
    "green": #1c8e66,
    "pink": #fe7e73,
    "white": #ccc,
    "black": #000,
    "main": $main-color,
    "red": #ff0000,
);