.policy-card{
    width: 100%;
    padding: 40px 0;
    border-top: 1px solid #ccc ;
    border-bottom: 1px solid #ccc;
    // justify-content:center;
    
    &__item{
        display: flex;
        align-items: center;       
        @include mobile{
            flex-direction: column;
        }
        &__icon{
            padding-right: 10px;
            i{
                font-size: 60px;                
                color: $main-color;

                @include tablet{
                    font-size: 50px;
                }
            }
        }
        &__title{
            text-align: center;
            @include tablet{
                h3{
                    font-size: 18px;
                }
            }
        }
    }
}