.product{
    display: flex;

    @include mobile{
        flex-direction: column;
    }

    &__img{
        display: flex;
        width: 60%;
        margin-right: 30px;
        overflow: hidden;
        object-fit: cover;

        @include tablet{
            width: 50%;
        }
        @include mobile{
            width: 100%;
        }
        &__main{
            img{
                width: 100%;
                height: auto;
            }
        }

        &__list{
            display: flex;
            flex-direction: column;
            margin-right: 20px;
            width: 30%;

            @include tablet{
                width: 40%;
            }

            &__item{
                width: 100%;
                margin-bottom: 10px;
                overflow: hidden;
                object-fit: cover;
                border: 1px solid #ccc;
                img{
                    width: 100%;
                    height: auto; 
                }
            }
        }
    }

    &__info{
        flex: 1;
        margin-bottom: 20px;

        @include mobile{
            margin-top: 20px;
            padding: 0 20px;
        }
        &__title{
            font-weight: bold;
            font-size: 28px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        &__price{
            span{
                font-size: 24px;
                margin-right: 10px;
                font-weight: bold;
            }
            del{
                color: #ccc;
                font-size: 18px;
            }
        }

        &__item{
            margin-top: 30px;
            &__title{
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 10px;
            }

            &__list{
                display: flex;               
                align-items:center;
                gap: 10px;

                &__item{
                    display: flex;
                    justify-content:center;
                    align-items:center;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    text-align: center;
                    border: 1px solid $txt-second-color;
                    cursor: pointer;               

                    &.active {
                        border: 2px solid $main-color !important;                       
                    }
                }
            }

            &__size {
                font-size: 16px;
                text-transform: uppercase;

                @include mobile{
                    font-size: 14px;
                }
            }

            &__btn {
                text-align: center;
                font-size: 18px;
                font-weight: 500;
                width: 40%;
                padding: 8px 0;
                background: $main-color;
                color: $txt-white;
                text-transform: uppercase;
                border: 1px solid $main-color;
                transition: all .3s ease-in-out;

                @include tablet{
                    width: 50%;
                    padding: 4px 0px;
                }
                &:hover{
                    cursor: pointer;
                    background: $txt-white;
                    color: $txt-black;
                }
            }

            &__quantity{
                display: flex;
                justify-content: flex-start;
                align-content: flex-start;

                &__btn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    border: 1px solid $txt-second-color;
                    font-size: 18px;
                    cursor: pointer;
                
                    &:hover{
                        background: $main-color;
                        color: $txt-white;
                    }
                }

                &__input {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    height: 30px;
                    width: 90px;
                    font-size: 18px;
                    border-top: 1px solid $txt-second-color;
                    border-bottom: 1px solid $txt-second-color;

                }
            }

            &__description{
                text-align: justify;
            }
        }


    }
}